.bookListWrapper {
  display: flex;
  flex-direction: column;
  .bookListItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 15px;
    .bookListItemProp{
      margin: 5px 0 5px 0;
      &.bookTitle {
        font-size: 16px;
        font-weight: bold;
      }
      &.bookAuthor{
        font-style: italic;
      }
    }
  }
}